<!-- <ion-header>
  <ion-toolbar>
    <ion-title>loader</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="mycolor">

  <!-- <div class="flex-container ">

 
    <span style="font-weight:300;font-size:9pt">
      <ion-text color="medium">Welcome to <br></ion-text>
    </span>
    <span style="font-weight:750;font-size:30pt;margin-top: 5pt;
    ">
      <ion-text color="primary">Ionic </ion-text>
    </span>
    <span style="font-weight:750;font-size:25pt;margin-top: -5pt;">

      <ion-text color="medium">Application</ion-text>
    </span>
    <br>
    <span>
      <ion-spinner name="dots" color="primary"></ion-spinner>

      <!-- <ion-button (click)="goIn()" size="medium" fill="outline" shape="round">GO INSIDE</ion-button> -->
  <!-- </span>
    <br><br><br>
  </div> -->

  <div class="flex-container ">
    <img src="assets/dictionary.png" style="width: 100px;" />
    <h2 style="color: white;">
      <ion-text>
        <b>DICTIONARY</b>

      </ion-text>
    </h2>

    <ion-text color="medium"><small>Expand Your Vocabulary</small></ion-text>

    <br><br>
    <ion-spinner name="dots" color="light"></ion-spinner>

  </div>

  <div class="flex-footer">
    <ion-text color="medium"><small style="font-size: 8pt;"> Developed by: Ian Divinagracia</small></ion-text>
    <img src="assets/wave.svg" />
  </div>
</ion-content>
