<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>

      <b>Developer</b>
      <br>
      &nbsp;Ian Divinagracia
      <br>
      <br>

      <b>Contact</b>

      <br>
      <div style="display: flex;align-items:center;margin: 8px 0 8px 0;">
        &nbsp; <ion-icon name="logo-instagram"></ion-icon>
        <ion-text>&nbsp;ian_divv</ion-text>
      </div>
      <div style="display: flex;align-items:center;margin: 8px 0 8px 0;">
        &nbsp; <ion-icon name="logo-github"></ion-icon>
        <ion-text>&nbsp;iandiv</ion-text>
      </div>
      <div style="display: flex;align-items:center;margin: 8px 0 8px 0;">
        &nbsp; <ion-icon name="mail"></ion-icon>
        <ion-text>&nbsp;dvineian1239@gmail.com</ion-text>
      </div>
      <div style="display: flex;align-items:center;margin: 8px 0 8px 0;">
        &nbsp; <ion-icon name="mail"></ion-icon>
        <ion-text>&nbsp;divinagracia.ian@dnsc.edu.ph</ion-text>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>
